certifi
chardet
click
dominate
Flask==2.2.5
Flask-Bootstrap==2.2.0
Flask-CKEditor==0.4.6
Flask-Gravatar==0.5.0
Flask-Login==0.6.2
Flask-SQLAlchemy
Flask-WTF==1.1.1
idna
itsdangerous
Jinja2
MarkupSafe
requests
SQLAlchemy==2.0.19
urllib3
visitor
Werkzeug==2.2.3
WTForms==3.0.1
gunicorn==21.2.0
psycopg2
